/* styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
  max-height: 70px;
}

.navLinks {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.navLinks a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.contactButton {
  padding: 0.5rem 1rem;
  background-color: #5a2de0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
